<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" class="table table-bordered table-hover horizontal-align">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date</th>
        <!--<th>CatFact</th>-->
        <!--&lt;!&ndash;<th>Action</th>&ndash;&gt;-->
        <th>Delete</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="aut: ${auto}">
        <td th:text="${aut.id}" ></td>
        <td th:text="${aut.name}"></td>
        <td th:text="${aut.date}"></td>
        <!--<td><a th:href="@{/edit/{id}(id=${dom.id})}">Edit</a></td>-->
        <td><a th:href="@{/delete/{id}(id=${aut.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<!--<p><a th:href="@{/new}">ADD</a></p>-->
<!--<p>Click <a th:href="@{/api/all}" target="_blank"> REST API(all) </a> </p>-->
<p>Click <a th:href="@{/new}" > Add </a> </p>
</body>
</html>

</body>
</html>